
/* PALETA DE COLORES:
        #96989A | #606062 | #396AB1 | #2F3882 */

body {
    font-family: 'Roboto';
    background-image: url("../images/background-web.jpg");
    background-size: cover;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 100vh;
}

/*==================================================================
                                SECTION 
==================================================================*/
img.logo {
    width: 45%;
}

.encabezado {
    color: #606062;
    font-weight: 900;
}

.a-txt  {    
    font-weight: 900;
    color: #2F3882; /* Color de fuente */    
}

h2, h3 {
    font-weight: 600;
    color: #2F3882;
}


/*==================================================================
                                FOOTER 
==================================================================*/
img.armaturen {
    width: 13%;
}

img.fortune {
    width: 13%;
}

img.omc {
    width: 13%;
}

img.fourMatic {
    width: 13%;
}

img.lsm {
    width: 13%;
}

img.loading {
    width: 35%;
}

/*==================================================================
                                Medias
==================================================================*/
@media screen and (max-width: 767px){
    body {        
        background-image: url("../images/background-mobile.jpg");
    }

    img.logo {
        width: 75%;
    }

    img.armaturen {
        width: 25%;
    }
    
    img.fortune {
        width: 25%;
    }
    
    img.omc {
        width: 25%;
    }
    
    img.fourMatic {
        width: 25%;
    }
    
    img.lsm {
        width: 25%;
    }
    
    img.loading {
        width: 70%;
    }
}

@media screen and (max-width: 480px){
    body {
        height: 80vh;
        background-image: url("../images/background-mobile2.jpg");
    }

    img.logo {
        width: 90%;
    }

    h1, h2 {
        font-size: 0.9em;
    }
}